# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/lab1/nbproject/private/
/lab1/enterprise-application-war/nbproject/private/
/lab1/enterprise-application-ejb/nbproject/private/
/lab1/build/
/lab1/enterprise-application-war/dist/
/lab1/enterprise-application-war/build/
/lab1/enterprise-application-ejb/dist/
/lab1/enterprise-application-ejb/build/
/lab2/nbproject/private/
/lab2/state-sessionbean-war/nbproject/private/
/lab2/state-sessionbean-ejb/nbproject/private/
/lab2/build/
/lab2/state-sessionbean-war/dist/
/lab2/state-sessionbean-war/build/
/lab2/state-sessionbean-ejb/dist/
/lab2/state-sessionbean-ejb/build/
/lab3/nbproject/private/
/lab3/lab3-war/nbproject/private/
/lab3/lab3-ejb/nbproject/private/
/lab3/build/
/lab3/lab3-war/dist/
/lab3/lab3-war/build/
/lab3/lab3-ejb/dist/
/lab3/lab3-ejb/build/
/lab4/nbproject/private/
/lab4/book-management-system-war/nbproject/private/
/lab4/book-management-system-ejb/nbproject/private/
/lab4/build/
/lab4/book-management-system-war/dist/
/lab4/book-management-system-war/build/
/lab4/book-management-system-ejb/dist/
/lab4/book-management-system-ejb/build/
/chatnow/nbproject/private/
/chatnow/chatnow-war/nbproject/private/
/chatnow/chatnow-ejb/nbproject/private/
/chatnow/build/
/chatnow/dist/
/chatnow/chatnow-war/build/
/chatnow/chatnow-war/dist/
/chatnow/chatnow-ejb/build/
/chatnow/chatnow-ejb/dist/
